# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\qin\NettyTest\javaFx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
